<!DOCTYPE html>
<html lang="en-us" class="no-js">

	<head>
		<meta charset="utf-8">
        <title>CityRush Edmonton</title>
        <meta name="description" content="CityRush is an interactive adventure race set in Edmonton, Alberta. More info coming soon!">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <%= render 'favicon' %>

        <!-- ============== Resources style ============== -->
        <%= stylesheet_link_tag 'marketing', media: 'all', 'data-turbolinks-track' => true%>

		<!-- Modernizr runs quickly on page load to detect features -->
		<%=javascript_include_tag "modernizr.custom.js"%>
	</head>
	
	<body>

		<!-- Page preloader -->
		<div id="loading">
			<div id="preloader">
				<span></span>
				<span></span>
			</div>
		</div>

		<!-- Overlay -->
		<div class="global-overlay">
			<div class="overlay skew-part"></div>
		</div>

		<!-- START - Home/Left Part -->
		<section id="left-side" class="minimal-phone">

			<!-- Your logo -->
			<%=image_tag('logo-inverse.png', :class => 'brand-logo')%>

			<div class="content">

				<h1 class="text-intro opacity-0">Rush your city.</h1>

				<h2 class="text-intro opacity-0">Team up, decipher clues and explore your city while you compete for the best times and the highest score each month.</h2>

				<nav>
					<ul>
						<li>
							<a data-dialog="somedialog" class="action-btn trigger text-intro opacity-0">Sign up for updates</a>
						</li>
					</ul>
				</nav>

			</div>

			<!-- Social icons -->
			<div class="social-icons">

				<a href="#"><i class="fa fa-facebook"></i></a>

			</div>

		</section>
		<!-- END - Home/Left Part -->

		<!-- START - Newsletter Popup -->
		<div id="somedialog" class="dialog">

			<div class="dialog__overlay"></div>
					
			<div class="dialog__content">
						
				<div class="dialog-inner">
							
					<h4>Launch Event</h4>
							
					<p>Sign up for our newsletter and we'll let you know when we launch our first event!</p>

					<!-- Newsletter Form -->
					<div id="subscribe">
            
            

		                <form action="//cityrush.us13.list-manage.com/subscribe/post?u=2fdc17485da6d9e0824f5f665&amp;id=d83f96579c" method="post" id="signup" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

		                    <div class="form-group">

		                        <div class="controls">
		                            
		                        	<!-- Field  -->
		                        	<input type="text" id="mail-sub" name="EMAIL" placeholder="Click here to write your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Click here to write your email'" class="form-control email srequiredField" />

		                        	<!-- Spinner top left during the submission -->
		                        	<i class="fa fa-spinner opacity-0"></i>

		                            <!-- Button -->
		                            <button class="btn btn-lg submit">Get notified</button>

		                            <div class="clear"></div>

		                        </div>

		                    </div>

		                </form>

						<!-- Answer for the newsletter form is displayed in the next div, do not remove it. -->
						<div class="block-message">

							<div class="message">

								<p class="notify-valid"></p>

							</div>

						</div>

        			</div>
        			<!-- /. Newsletter Form -->

				</div>
				<!-- /. dialog-inner -->

				<!-- Button Cross to close the Newsletter Popup -->
				<button class="close-newsletter" data-dialog-close><i class="icon ion-close-round"></i></button>

			</div>
			<!-- /. dialog__content -->
						
		</div>
		<!-- END - Newsletter Popup -->

	<!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
    <!-- ********** Resources jQuery ********** -->
    <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->
	
	
  <%=javascript_include_tag "jquery.min.js"%>
	<%=javascript_include_tag "jquery.easings.min.js"%>
	<%=javascript_include_tag "bootstrap.min.js"%>
  <%=javascript_include_tag "velocity.min.js"%>
  <%=javascript_include_tag "notifyMe.js"%>
  <%=javascript_include_tag "vegas.js"%>
  <%=javascript_include_tag "jquery.mousewheel.js"%>
  <%=javascript_include_tag "jquery.mCustomScrollbar.js"%>
  <%=javascript_include_tag "classie.js"%>
  <%=javascript_include_tag "dialogFx.js"%>
  <%=javascript_include_tag "main.js"%>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77515523-1', 'auto');
  ga('send', 'pageview');

</script>
	</body>

</html>
