= simple_form_for(@location) do |f|
  = f.error_notification

  .form-inputs
    = f.input :rush_id
    = f.input :name
    = f.input :description
    = f.input :lat
    = f.input :long

  .form-actions
    = f.button :submit
