%p#notice= notice

%p
  %b Rush:
  = @location.rush_id
%p
  %b Name:
  = @location.name
%p
  %b Description:
  = @location.description
%p
  %b Lat:
  = @location.lat
%p
  %b Long:
  = @location.long

