= simple_form_for(@clue) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :answer
    = f.input :event_id

  .form-actions
    = f.button :submit
