%h1 Listing clues

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Answer
      %th Event
      %th
      %th
      %th

  %tbody
    - @clues.each do |clue|
      %tr
        %td= clue.title
        %td= clue.description
        %td= clue.answer
        %td= clue.event_id
        %td= link_to 'Show', clue
        %td= link_to 'Edit', edit_clue_path(clue)
        %td= link_to 'Destroy', clue, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Clue', new_clue_path
