%h1= "#{@clue.event.name} - #{@clue.name}"

%p
  = @clue.description
  
= simple_form_for(@submission) do |f|
  = f.error_notification
  = f.hidden_field :event_id, :value => @clue.event.id
  = f.hidden_field :clue_id, :value => @clue.id
  .form-inputs
    = f.input :guess, :label => "Your Answer:"

  .form-actions
    = f.button :submit
