-@page_title = "#{@clue.event.name} - #{@clue.name}"
%p
  = @clue.description

= simple_form_for(@submission) do |f|
  = f.error_notification
  = f.hidden_field :event_id, :value => @clue.event.id
  = f.hidden_field :clue_id, :value => @clue.id
  .form-inputs
    = f.hidden_field :latitude
    = f.hidden_field :longitude

  .form-actions
    = f.button :submit, "Submit"
:javascript
  $(function() {
    function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(fillForm);
      } else { 
          alert("Geolocation is not supported by this browser.");
      }
    }

    function fillForm(position) {
      $('#submission_latitude').val(position.coords.latitude);
      $('#submission_longitude').val(position.coords.longitude);
      console.log(position.coords.latitude);
    }
    getLocation();
  });